<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>ccoffice</contextName>  
  	<jmxConfigurator />
	<property name="log.dir" value="D:/syslog" /> 
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level - %X{username},%class:%method,%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="loginfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/log.log</File>
		<encoder>
			<pattern>%date [%thread] %-5level - %X{username},%class:%method,%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
	</appender>
	
	<root level="ALL">
		<appender-ref ref="loginfo" />
	</root>
	 
</configuration>